<h1>Appointments for: <%= @patient.full_name %></h1>
<%= link_to 'Add appointment', new_patient_appointment_path(@patient) %>
<hr />

<h2> Doctors </h2>
  <% @appointments.each do |appointment| %>
  <li><%= "Dr. #{appointment.doctor.last_name}" %></li>
   <li><%= appointment.date %></li>
<br />
  <%= link_to 'Delete Appointment', patient_appointment_path(@patient, appointment), method: :delete %>
  
 <% end %>

