<div class="ui red five item inverted menu">
      <%= link_to 'Home', root_path, class:"active item" %>
      <%= link_to 'Patients', patients_path, class:"item" %>
      <%= link_to 'Add Patient', new_patient_path, class:"item"  %>
      <%= link_to 'Doctors', doctors_path, class:"item"  %>
      <%= link_to 'Add Doctor', new_doctor_path, class:"item"  %>
</div>

  
 